@using Vxp.Common
@using Vxp.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" href="#main"><span>Home</span></a>
    </li>
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy"><span>Privacy</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about-section"><span>About</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Technology"><span>Technology</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><span>Products</span></a>
        </li>
    }
</ul>

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span>@this.User.FindFirst("FullName").Value</span></a>
        </li>

        if (this.User.IsInRole(GlobalConstants.Roles.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="@GlobalConstants.Roles.AdministratorRoleName Dashboard"><span>@GlobalConstants.Roles.AdministratorRoleName</span></a>
            </li>
        }
        else if (this.User.IsInRole(GlobalConstants.Roles.VendorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Vendor" asp-controller="Products" asp-action="Index" title="@GlobalConstants.Roles.VendorRoleName Dashboard"><span>@GlobalConstants.Roles.VendorRoleName</span></a>
            </li>
        }
        else if (this.User.IsInRole(GlobalConstants.Roles.DistributorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Distributor" asp-controller="Products" asp-action="Index" title="@GlobalConstants.Roles.DistributorRoleName Dashboard"><span>@GlobalConstants.Roles.DistributorRoleName</span></a>
            </li>
        }
        else if (this.User.IsInRole(GlobalConstants.Roles.CustomerRoleName))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Customer" asp-controller="Products" asp-action="Index" title="@GlobalConstants.Roles.CustomerRoleName Dashboard"><span>@GlobalConstants.Roles.CustomerRoleName</span></a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout"><span>Logout</span></a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><span>Login</span></a>
        </li>

    }
</ul>
