@using System.Web
@using Vxp.Web.ViewModels.Distributor.Products
@model ProductViewModel
@{
    ViewData["Title"] = @Model.Name;
}
<h4>@ViewData["Title"]</h4>
<div class="d-flex">
    <div class="row w-50">
        @foreach (var image in @Model.Images)
        {
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-3 pl-0">
                <div class="card zoom">
                    <a href="@HttpUtility.UrlDecode(image.Url)" class="image-popup">
                        <div class="card-body text-center p-1">
                            <img src="@HttpUtility.UrlDecode(image.Url)" alt="@image.Alt" title="@image.Title">
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="w-50 pb-3">
        <div class="border rounded h-100 px-1">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 font-small my-auto">Category</div>
                <div class="col text-dark">@Model.CategoryName</div>
            </div>
            <div class="row bg-light">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 font-small my-auto">Description</div>
                <div class="col text-dark">@Model.Description</div>
            </div>
            @for (var i = 0; i < @Model.Details.Count; i++)
            {
                var detail = @Model.Details[i];
                var bgLight = i % 2 > 0 ? "bg-light" : "";
                <div class="row @bgLight">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 font-small my-auto">@detail.CommonDetail.Name@(string.IsNullOrEmpty(detail.CommonDetail.Measure) ? "" : $", {detail.CommonDetail.Measure}")</div>
                    <div class="col text-dark">@detail.Value</div>
                </div>
            }
            <div class="row bg-secondary rounded text-white px-2">Prices</div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 font-weight-bold my-auto">
                    Base price
                </div>
                <div class="col text-dark">€ @($"{@Model.BasePrice:N2}")</div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 font-weight-bold my-auto">
                    Buy price
                </div>
                <div class="col text-dark">€ @($"{@Model.DistributorPrice:N2}")</div>
            </div>
        </div>
    </div>
</div>