@using Vxp.Web.ViewModels.Administration.Users
@model IEnumerable<ListUserViewModel>

@{
    this.ViewData["Title"] = "List Users";
    this.ViewData["sidebarMenu"] = "Users";
}

<div class="d-lg-flex">
    <div class="mr-md-4 mr-lg-5">
        <span class="icon mb-3 d-block icon-users"></span>
    </div>
    <div class="text">
        <h3 class="mb-4 float-left">Users</h3>
        <a asp-area="Administration" asp-controller="Users" asp-action="Create" class="btn btn-primary py-3 px-lg-5 text-nowrap float-right">Add New</a>

        <table class="vxp-table table rounded display hover cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    @*<th>Deleted</th>*@
                    <th class="text-right"><span class="icon d-block icon-wrench"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Role</td>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.ContactAddressCountryName</td>
                        <td>@user.ContactAddressAddressLocation, @user.ContactAddressCity</td>
                        <td><a href="mailto:@user.Email" target="_top">@user.Email </a></td>
                        <td>@user.ContactAddressPhone</td>
                        @*<td>@(user.IsDeleted ? "yes" : "no")</td>*@
                        <td class="text-right">
                            <a class="btn btn-link btn-light" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    @*<th>Deleted</th>*@
                    <th class="text-right"><span class="icon d-block icon-wrench"></span></th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

@section Scripts
{
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('.vxp-table').DataTable({
                "lengthChange": false
            });
        });
    </script>

}
