@using System.Security.Claims
@using Microsoft.AspNetCore.Http.Extensions
@using Vxp.Web.ViewModels.Customer.Distributors
@model DistributorViewModel
@{
    ViewData["Title"] = Model.Details.FullName;
}

<h4>@ViewData["Title"]</h4>

<div id="user-view-details" class="d-flex justify-content-start">
    <div class="d-flex flex-column">
        <div>
            <div class="border rounded p-1 m-1">
                <table class="w-100">
                    <tr>
                        <th colspan="2" class="text-white rounded px-2 bg-secondary">Personal data</th>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2"></td>
                        <td class="text-dark px-2 font-weight-bold">@Model.Details.FullName</td>
                    </tr>
                    <tr class="bg-light">
                        <td class="font-small my-auto px-2"><span class="icon icon-map-marker"></span></td>
                        <td class="text-dark px-2">@Model.Details.PersonalAddress</td>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2"><span class="icon icon-phone"></span></td>
                        <td class="text-dark px-2">@Model.Details.PersonalPhone</td>
                    </tr>
                    <tr class="bg-light">
                        <td class="font-small my-auto px-2"><span class="icon icon-envelope-o"></span></td>
                        <td class="text-dark px-2">@Model.Details.PersonalEmail</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div class="border rounded p-1 m-1">
                <table class="w-100">
                    <tr>
                        <th colspan="2" class="text-white rounded px-2 bg-secondary">Business data</th>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2">&nbsp;</td>
                        <td class="text-dark px-2 font-weight-bold">@(Model.Details.BusinessCompanyName ?? " N.A. ") </td>
                    </tr>
                    <tr class="bg-light">
                        <td class="font-small my-auto px-2">BIN</td>
                        <td class="text-dark px-2">@Model.Details.BusinessBin</td>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2"><span class="icon icon-map-marker"></span></td>
                        <td class="text-dark px-2">@Model.Details.BusinessAddress</td>
                    </tr>
                    <tr class="bg-light">
                        <td class="font-small my-auto px-2"><span class="icon icon-phone"></span></td>
                        <td class="text-dark px-2">@Model.Details.BusinessPhone</td>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2"><span class="icon icon-envelope-o"></span></td>
                        <td class="text-dark px-2">@Model.Details.BusinessEmail</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div>
            <div class="border rounded p-1 m-1">
                <table class="w-100">
                    <tr>
                        <th colspan="2" class="text-white rounded px-2 bg-secondary">Payment data</th>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2">Bank</td>
                        <td class="text-dark px-2 font-weight-bold">@Model.Details.BankName</td>
                    </tr>
                    <tr class="bg-light">
                        <td class="font-small my-auto px-2">Account</td>
                        <td class="text-dark px-2">@Model.Details.BankAccount</td>
                    </tr>

                    <tr>
                        <td class="font-small my-auto px-2">BIC</td>
                        <td class="text-dark px-2">@Model.Details.BankBic</td>
                    </tr>
                    <tr class="bg-light">
                        <td class="font-small my-auto px-2">SWIFT</td>
                        <td class="text-dark px-2">@Model.Details.BankSwift</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div class="border rounded p-1 m-1">
                <table class="w-100">
                    <tr>
                        <th colspan="2" class="text-white rounded px-2 bg-secondary">Sipping data</th>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2"><span class="icon icon-map-marker"></span></td>
                        <td class="text-dark px-2">@Model.Details.ShippingAddress</td>
                    </tr>
                    <tr class="bg-light">
                        <td class="font-small my-auto px-2"><span class="icon icon-phone"></span></td>
                        <td class="text-dark px-2">@Model.Details.ShippingAddressPhone</td>
                    </tr>
                    <tr>
                        <td class="font-small my-auto px-2"><span class="icon icon-envelope-o"></span></td>
                        <td class="text-dark px-2">@Model.Details.ShippingAddressEmail</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
    <partial name="_ChatWindowPartial" model="@Model.Id"/>
</div>
@* TODO: Move to partial view *@
<div class="font-small">
    <table class="table vxp-table vxp-data-table table-striped">
        <thead>
            <tr>
                <th>Project</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Partner</th>
                <th class="text-right">Orders</th>
                <th class="text-right">Documents</th>
                <th class="text-right">Created</th>
                <th class="text-right">Updated</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
            }
            @foreach (var project in Model.ExistingProjects)
            {
                var disableAction = project.OwnerId != currentUserId;
                var disableDelete = disableAction || (project.Documents.Count() + project.Orders.Count() > 0) ? "disabled='disabled'" : null;
                var disableEdit = disableAction ? "disabled='disabled'" : null;

                <tr>
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td>
                        @if (currentUserId == project.OwnerId)
                        {
                            @project.Owner.Name
                        }
                        else
                        {
                            <mark>@project.Owner.Name</mark>
                        }
                    </td>
                    <td>
                        @if (currentUserId == project.PartnerId)
                        {
                            @project.Partner.Name
                        }
                        else
                        {
                            <mark>@project.Partner.Name</mark>
                        }
                    </td>
                    <td class="text-right">@project.Orders.Count()</td>
                    <td class="text-right">@project.Documents.Count()</td>
                    <td class="text-right">@project.CreatedOn.ToLocalTime().ToShortDateString()</td>
                    <td class="text-right">@project.ModifiedOn?.ToLocalTime().ToShortDateString()</td>
                    <td class="text-right">
                        <a class="btn btn-primary rounded product-category-btn" asp-controller="Projects" asp-action="Project" asp-route-id="@project.Id">View</a>
                        <button class="btn btn-success rounded product-category-btn" type="button" data-toggle="modal" data-target="#modalEditProject@(project.Id)" @disableEdit>Edit</button>
                        <partial name="Projects/_ProjectUpdateViewPartial" model="@project" />
                        <form class="d-inline" method="post" asp-controller="Projects" asp-action="Delete" data-name="@project.Name" onsubmit="deleteProject(event)">
                            <input type="hidden" asp-for="@project.Id" />
                            <input type="hidden" asp-for="@project.OwnerId" />
                            <input type="hidden" asp-for="@project.PartnerId" />
                            <input type="hidden" asp-for="@project.Name" />
                            <input type="hidden" asp-for="@project.Description" />
                            <input type="hidden" asp-for="@project.ReturnUrl" value="@this.Context.Request.GetDisplayUrl()" />
                            <button type="submit" class="btn btn-danger rounded product-category-btn" @disableDelete>Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>