@using Vxp.Common
@model Vxp.Web.ViewModels.Components.EditUserProfileViewComponentModel
<style type="text/css">
    .vxp-section-edit-user-shipping-address {
    }

    .vxp-section-edit-user-company-info {
    }

    .vxp-section-edit-user-bank-accounts {
    }

    .vxp-section-edit-user-distributors {
    }

    .country-selector {
    }
</style>
<form id="formUserDetails" class="w-100" method="post">
    <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId" />
    <div class="d-flex mb-1">
        <div class="w-25 bg-light d-flex flex-column p-1 border rounded">
            <h6 class="bg-primary text-white p-1 rounded">Account data</h6>
            <div class="w-100">
                <label asp-for="@Model.RoleName" class="vxp-form-control-label"></label>
                <select title="Role" class="form-control text-dark font-weight-bold" asp-for="RoleName" asp-items="Model.AvailableRoles" id="edit-user-form-role-selector"></select>
                <span asp-validation-for="@Model.RoleName" class="text-danger"></span>
            </div>
            <div class="vxp-section-edit-user-distributors animated" style="display: none;">
                <div class="py-1"></div>
                <h6 class="bg-primary text-white p-1 rounded">Distributors</h6>
                <div class="w-100">
                    <div class="vxp-edit-user-form-container container-fluid border rounded">
                        @foreach (var distributor in Model.AvailableDistributors)
                        {
                            <div class="row px-1">
                                <div class="col-xl-10 col-sm-8 text-dark font-weight-bold">@distributor.Text</div>
                                <div class="col-xl-2 col-sm-4 text-right"><button type="button" class="btn btn-light rounded p-0 w-100 border" onclick="new DistributorEditForm('@distributor.Value')">Edit</button></div>
                            </div>

                            var distributorKey = $"{distributor.Value}:{distributor.Text}";
                            <input type="hidden" name="AvailableDistributors" value="@distributorKey" />
                        }
                        <div class="row px-1">
                            <div class="col-xl-10 col-sm-8">...</div>
                            <div class="col-xl-2 col-sm-4 text-right"><button type="button" class="btn btn-light rounded p-0  w-100 border" onclick="new DistributorEditForm()">Add</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vxp-section-edit-user-bank-accounts animated">
                <div class="py-1"></div>
                <h6 class="bg-primary text-white p-1 rounded">Bank accounts</h6>
                <div class="w-100">
                    <div class="vxp-edit-user-form-container container-fluid border rounded">
                        @foreach (var bankAccount in Model.BankAccounts)
                        {
                            <div class="row px-1">
                                <div class="col-xl-10 col-sm-8 text-dark font-weight-bold">@bankAccount.Text</div>
                                <div class="col-xl-2 col-sm-4 text-right"><button type="button" class="btn btn-light rounded p-0 w-100 border" onclick="new BankAccountEditForm(@bankAccount.Value)">Edit</button></div>
                            </div>
                            var accountKey = $"{bankAccount.Value}:{bankAccount.Text}";
                            <input type="hidden" name="BankAccounts" value="@accountKey" />
                        }

                        <div class="row px-1">
                            <div class="col-xl-10 col-sm-8">...</div>
                            <div class="col-xl-2 col-sm-4 text-right"><button type="button" class="btn btn-light rounded p-0 w-100 border" onclick="new BankAccountEditForm()">Add</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-100"></div>
            <div class="w-100">
                <label asp-for="@Model.UserName" class="vxp-form-control-label"></label>
                <input asp-for="@Model.UserName" class="form-control font-weight-bold" placeholder="Email" value="@Model.UserName" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            @*<div id="passwordRegister" style="display: none;">
                    <div class="py-1"></div>
                    <div class="w-100">
                        <label asp-for="@Model.Password" class="vxp-form-control-label"></label>
                        <input asp-for="@Model.Password" class="form-control text-dark font-weight-bold" placeholder="Password" value="@Model.Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="py-1"></div>
                    <div class="w-100 align-self-end">
                        <label asp-for="@Model.ConfirmPassword" class="vxp-form-control-label"></label>
                        <input asp-for="@Model.ConfirmPassword" class="form-control text-dark font-weight-bold" placeholder="Confirm password" value="@Model.ConfirmPassword" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>*@
            <div>
                <div class="py-1"></div>
                <button class="btn btn-outline-success w-100" type="button" data-toggle="modal" data-target="#modalResetPassword">Reset password</button>
            </div>
        </div>
        <div class="px-1"></div>
        <div class="w-25 bg-light d-flex flex-column p-1 border rounded">
            <h6 class="bg-primary text-white p-1 rounded">Contact information</h6>
            <div class="w-100">
                <label asp-for="@Model.FirstName" class="vxp-form-control-label"></label>
                <input asp-for="@Model.FirstName" class="form-control text-dark font-weight-bold" placeholder="First name" value="@Model.FirstName" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.LastName" class="vxp-form-control-label"></label>
                <input asp-for="@Model.LastName" class="form-control text-dark font-weight-bold" placeholder="Last name" value="@Model.LastName" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.ContactAddress.CountryName" class="vxp-form-control-label"></label>
                <input asp-for="@Model.ContactAddress.CountryName" class="form-control text-dark font-weight-bold country-selector" placeholder="Country" value="@Model.ContactAddress.CountryName" />
                <span asp-validation-for="@Model.ContactAddress.CountryName" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.ContactAddress.City" class="vxp-form-control-label"></label>
                <input asp-for="@Model.ContactAddress.City" class="form-control text-dark font-weight-bold" placeholder="City" value="@Model.ContactAddress.City" />
                <span asp-validation-for="@Model.ContactAddress.City" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.ContactAddress.AddressLocation" class="vxp-form-control-label"></label>
                <input asp-for="@Model.ContactAddress.AddressLocation" class="form-control text-dark font-weight-bold" placeholder="Address" value="@Model.ContactAddress.AddressLocation" />
                <span asp-validation-for="@Model.ContactAddress.AddressLocation" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.ContactAddress.Phone" class="vxp-form-control-label"></label>
                <input asp-for="@Model.ContactAddress.Phone" class="form-control text-dark font-weight-bold" placeholder="Phone" value="@Model.ContactAddress.Phone" />
                <span asp-validation-for="@Model.ContactAddress.Phone" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.ContactAddress.Email" class="vxp-form-control-label"></label>
                <input asp-for="@Model.ContactAddress.Email" class="form-control text-dark font-weight-bold" placeholder="Contact Email" value="@Model.ContactAddress.Email" />
                <span asp-validation-for="@Model.ContactAddress.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="vxp-section-edit-user-company-info px-1 "></div>
        <div class="vxp-section-edit-user-company-info w-25 bg-light d-flex flex-column p-1 border rounded">
            <h6 class="bg-primary text-white p-1 rounded">Company information</h6>
            <div class="w-100">
                <label asp-for="@Model.Company.Name" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.Name" class="form-control text-dark font-weight-bold" placeholder="Company name" value="@Model.Company.Name" />
                <span asp-validation-for="@Model.Company.Name" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.BusinessNumber" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.BusinessNumber" class="form-control text-dark font-weight-bold" placeholder="Company BIN" value="@Model.Company.BusinessNumber" />
                <span asp-validation-for="@Model.Company.BusinessNumber" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ContactAddress.CountryName" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ContactAddress.CountryName" class="form-control text-dark font-weight-bold country-selector" placeholder="Country" value="@Model.Company.ContactAddress.CountryName" />
                <span asp-validation-for="@Model.Company.ContactAddress.CountryName" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ContactAddress.City" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ContactAddress.City" class="form-control text-dark font-weight-bold" placeholder="City" value="@Model.Company.ContactAddress.City" />
                <span asp-validation-for="@Model.Company.ContactAddress.City" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ContactAddress.AddressLocation" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ContactAddress.AddressLocation" class="form-control text-dark font-weight-bold" placeholder="Address" value="@Model.Company.ContactAddress.AddressLocation" />
                <span asp-validation-for="@Model.Company.ContactAddress.AddressLocation" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ContactAddress.Phone" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ContactAddress.Phone" class="form-control text-dark font-weight-bold" placeholder="Phone" value="@Model.Company.ContactAddress.Phone" />
                <span asp-validation-for="@Model.Company.ContactAddress.Phone" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ContactAddress.Email" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ContactAddress.Email" class="form-control text-dark font-weight-bold" placeholder="Contact Email" value="@Model.Company.ContactAddress.Email" />
                <span asp-validation-for="@Model.Company.ContactAddress.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="vxp-section-edit-user-shipping-address px-1"></div>
        <div class="vxp-section-edit-user-shipping-address w-25 bg-light d-flex flex-column p-1 border rounded">
            <h6 class="bg-primary text-white p-1 rounded">Shipping address</h6>
            <div class="w-100">
                <label asp-for="@Model.Company.ShippingAddress.CountryName" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ShippingAddress.CountryName" class="form-control text-dark font-weight-bold country-selector" placeholder="Country" value="@Model.Company.ShippingAddress.CountryName" />
                <span asp-validation-for="@Model.Company.ShippingAddress.CountryName" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ShippingAddress.City" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ShippingAddress.City" class="form-control text-dark font-weight-bold" placeholder="City" value="@Model.Company.ShippingAddress.City" />
                <span asp-validation-for="@Model.Company.ShippingAddress.City" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ShippingAddress.City" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ShippingAddress.AddressLocation" class="form-control text-dark font-weight-bold" placeholder="Address" value="@Model.Company.ShippingAddress.AddressLocation" />
                <span asp-validation-for="@Model.Company.ShippingAddress.AddressLocation" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ShippingAddress.Phone" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ShippingAddress.Phone" class="form-control text-dark font-weight-bold" placeholder="Phone" value="@Model.Company.ShippingAddress.Phone" />
                <span asp-validation-for="@Model.Company.ShippingAddress.Phone" class="text-danger"></span>
            </div>
            <div class="py-1"></div>
            <div class="w-100">
                <label asp-for="@Model.Company.ShippingAddress.Email" class="vxp-form-control-label"></label>
                <input asp-for="@Model.Company.ShippingAddress.Email" class="form-control text-dark font-weight-bold" placeholder="Contact Email" value="@Model.Company.ShippingAddress.Email" />
                <span asp-validation-for="@Model.Company.ShippingAddress.Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="d-flex my-3 align-content-start">
        <div class="w-25 d-flex pr-1" id="component-notifier">
            <button class="w-50 btn btn-primary rounded" type="submit">Update</button>
            <div class="px-1"></div>
            <button class="w-50 btn btn-primary rounded" type="button">Delete</button>
        </div>
    </div>

</form>

<!-- Modal Reset Password -->
<div class="modal fade" id="modalResetPassword" tabindex="-1" role="dialog" aria-labelledby="modalResetPasswordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Users" asp-action="ResetPassword" method="post">
                    <input asp-for="UserId" type="hidden" value="@Model.UserId" />
                    <div>
                        <div class="py-1"></div>
                        <div class="w-100">
                            <label asp-for="@Model.Password" class="vxp-form-control-label"></label>
                            <input asp-for="@Model.Password" class="form-control text-dark font-weight-bold" placeholder="Password" value="@Model.Password" />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="py-1"></div>
                        <div class="w-100 align-self-end">
                            <label asp-for="@Model.ConfirmPassword" class="vxp-form-control-label"></label>
                            <input asp-for="@Model.ConfirmPassword" class="form-control text-dark font-weight-bold" placeholder="Confirm password" value="@Model.ConfirmPassword" />
                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="pt-3 d-flex">
                        <div class="w-50 d-flex flex-nowrap align-content-end">
                            <input id="btnResetPasswordSubmit" type="submit" value="Submit" class="btn btn-success" />
                            <input type="button" value="Cancel" class="btn btn-secondary ml-1" data-dismiss="modal" aria-label="Close" />
                        </div>
                        <div class="w-50">
                            <div class="text-danger vxp-validation-errors-placeholder"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Bank Account -->
<div class="modal fade" id="modalBankAccount" tabindex="-1" role="dialog" aria-labelledby="modalBankAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBankAccountLabel">Bank account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="owner-id" value="@Model.UserId" />
                    <input type="hidden" name="account-id" />
                    <div class="pb-1">
                        <label for="bank-name" class="vxp-form-control-label">Bank</label>
                        <input type="text" required="required" class="form-control text-dark font-weight-bold" placeholder="Bank name" id="bank-name" name="bank-name" />
                    </div>
                    <div class="pb-1">
                        <label for="account-number" class="vxp-form-control-label">Account</label>
                        <input type="text" required="required" class="form-control text-dark font-weight-bold" placeholder="Account number" id="account-number" name="account-number" />
                    </div>
                    <div class="pb-1">
                        <label for="bic-code" class="vxp-form-control-label">BIC</label>
                        <input type="text" required="required" class="form-control text-dark font-weight-bold" placeholder="BIC code" id="bic-code" name="bic-code" />
                    </div>
                    <div class="pb-1">
                        <label for="swift-code" class="vxp-form-control-label">SWIFT</label>
                        <input type="text" class="form-control text-dark font-weight-bold" placeholder="SWIFT code" id="swift-code" name="swift-code" />
                    </div>
                    <div class="pt-3 d-flex">
                        <div class="w-50 d-flex flex-nowrap align-content-end">
                            <input id="btnBankAccountSubmit" type="submit" value="Update" class="btn btn-success" />
                            <input id="btnBankAccountDelete" type="button" value="Delete" class="btn btn-danger ml-1" />
                            <input type="button" value="Cancel" class="btn btn-secondary ml-1" data-dismiss="modal" aria-label="Close" />
                        </div>
                        <div class="w-50">
                            <div class="text-danger vxp-validation-errors-placeholder"></div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Modal Distributor -->
<div class="modal fade" id="modalDistributor" tabindex="-1" role="dialog" aria-labelledby="modalDistributorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDistributorLabel">Distributor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="customer-id" value="@Model.UserName" />
                    <input type="hidden" name="distributor-id" />
                    <div id="distributor-description-list" class="d-flex flex-column text-dark">
                        <div class="pb-1">
                            <select title="Distributor" class="form-control text-dark font-weight-bold" id="dist-form-selector" name="DistributorId">
                                <option disabled="disabled" selected="selected" value="">- Select Distributor -</option>
                            </select>
                        </div>
                        <div class="d-flex pt-3">
                            <div class="w-50">
                                <h6 class="bg-primary text-white p-1 rounded">Person</h6>
                                <table class="w-100 vxp-table-distributor">
                                    <tr>
                                        <th><span class="icon icon-user-circle"></span></th>
                                        <td><span id="dist-name"></span></td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon icon-envelope-open-o"></span></th>
                                        <td><span id="dist-email"></span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mx-1"></div>
                            <div class="w-50">
                                <h6 class="bg-primary text-white p-1 rounded">Contact</h6>
                                <table class="w-100 vxp-table-distributor">
                                    <tr>
                                        <th><span class="icon icon-map-marker"></span></th>
                                        <td><span id="dist-contact-address"></span></td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon icon-envelope"></span></th>
                                        <td><span id="dist-contact-email"></span></td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon icon-phone"></span></th>
                                        <td><span id="dist-contact-phone"></span></td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <div class="d-flex pt-3">
                            <div class="w-50">
                                <h6 class="bg-primary text-white p-1 rounded">Business</h6>
                                <table class="w-100 vxp-table-distributor">
                                    <tr>
                                        <th>Company</th>
                                        <td><span id="dist-company-name"></span></td>
                                    </tr>
                                    <tr>
                                        <th>BIN</th>
                                        <td><span id="dist-company-bin"></span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mx-1"></div>
                            <div class="w-50">
                                <h6 class="bg-primary text-white p-1 rounded">Bank account</h6>
                                <table class="w-100 vxp-table-distributor">
                                    <tr>
                                        <th>Bank</th>
                                        <td><span id="dist-bank-name"></span></td>
                                    </tr>
                                    <tr>
                                        <th>IBAN</th>
                                        <td><span id="dist-bank-iban"></span></td>
                                    </tr>
                                    <tr>
                                        <th>BIC</th>
                                        <td><span id="dist-bank-bic"></span></td>
                                    </tr>
                                    <tr>
                                        <th>SWIFT</th>
                                        <td><span id="dist-bank-swift"></span></td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="pt-3 d-flex">
                        <div class="w-50 d-flex flex-nowrap align-content-end">
                            <input id="btnDistributorFormSubmit" type="submit" value="Connect" class="btn btn-success" />
                            <input id="btnDistributorFormDelete" type="button" value="Disconnect" class="btn btn-danger ml-1" />
                            <input type="button" value="Cancel" class="btn btn-secondary ml-1" data-dismiss="modal" aria-label="Close" />
                        </div>
                        <div class="w-50">
                            <div class="text-danger vxp-validation-errors-placeholder"></div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<div id="modal-loader" class="modal vxp-modal-loader" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="vxp-loader"></div>
    </div>
</div>

<script src="~/js/BankAccountEditForm.js" on-content-loaded></script>
<script src="~/js/DistributorEditForm.js" on-content-loaded></script>

<script on-content-loaded>

    window.onload = () => {

        $('#edit-user-form-role-selector').on('change', function () {
            switchFormRoleMode(this.options[this.selectedIndex].text);
        });

        let initialFormMode = $('#edit-user-form-role-selector option:selected').text();

        let distributorsSection = $('.vxp-section-edit-user-distributors');

        function switchFormRoleMode(selectedRole) {

            distributorsSection.hide();

            switch (selectedRole) {

            case '@GlobalConstants.Roles.AdministratorRoleName':
               // console.log('Administrator');
                break;

            case '@GlobalConstants.Roles.VendorRoleName':
                //console.log('Vendor');
                break;

            case '@GlobalConstants.Roles.DistributorRoleName':
                //console.log('Distributor');
                break;

            case '@GlobalConstants.Roles.CustomerRoleName':
                distributorsSection.show();
                //console.log('Customer');
                break;

            default:
                //console.log('Default');
                break;
            }
        }

        switchFormRoleMode(initialFormMode);

        if ("@Model.SuccessMessage") {

            $("#component-notifier").notify("@Model.SuccessMessage",
                {
                    "position": "right",
                    "className": "success"
                });
        }

        $(function() {
            let availableCountries = @Html.Raw(Json.Serialize(Model.AvailableCountries));
            $(".country-selector").autocomplete({
                source: availableCountries
            });
        });

        //$("#btnResetPasswordSubmit").off("click").on("click", function() {

        //});

        $('#modalBankAccount, #modalDistributor, #modalResetPassword').modal({
            "backdrop": "static",
            "keyboard": false,
            "show": false
        });

        $('#modalBankAccount, #modalDistributor, #modalResetPassword, #modal-loader').appendTo("body");

    };
</script>