@using System.Web
@using Vxp.Web.ViewModels.Customers.Products
@model ProductsListViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="w-33 mb-3 d-flex justify-content-between">
    <h4>@ViewData["Title"]</h4>
    <div class="px-4"></div>
    <vc:product-category-filter category-id="@Model.CategoryFilterId"></vc:product-category-filter>
</div>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card h-100">
                <a asp-controller="Products" asp-action="View" asp-route-id="@product.Id">
                    <div class="card-img-top zoom">
                        <img src="@HttpUtility.UrlDecode(product.Image.Url)" alt="@product.Image.Alt" title="@product.Image.Title">
                    </div>
                </a>
                <div class="card-body text-center h-25 pb-0 pt-0 pl-0 pr-0">
                    <div class="pb-1 mt-1">
                        <span class="mx-auto pb-1 text-dark font-weight-bold">@product.Name</span>
                    </div>
                    <div>
                        @product.Description
                    </div>
                </div>
            </div>
        </div>
    }
</div>